#DATABASE
DATABASE_URL=postgresql+asyncpg://username:password@db:5432/name_db
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=name_db

#JWT
#openssl rand -hex 32
JWT_SECRET_KEY=secret_key